*{
	box-sizing: border-box ;
}

.head{
	display:flex;
	background-color: #D2F07E;
	
}

#logo{
	height: 90px; 
	width: 100px; 
	margin-left: 5px; 
	margin-top: 5px;
	margin-bottom:5px;
	
}

#username{
	margin-left:70%;
	margin-top: 50px;
}

#profile{
	height: 90px; 
	width: 100px; 
	margin-left:10px;
}

.container{
	display:flex;
}

.left{
	width:20%;
	border:2px solid black;
	height: 650px;
	
}

.right{
	width:80%;
	border:2px solid black;
	height: 550px;
}

.inner-left{
	
}

.inner-right{
	
}