body{
	margin:0;
	padding:0;
}
.head{
	display:flex;
	background-color: #5AB2F7;
	font-size:22px;
	
}
#logo{
	height: 70px; 
	width: 70px; 
	margin-left: 60%; 
	margin-top: 15px;
	margin-bottom:5px;	
}
#logoname{
	height: 90px; 
	width: 200px; 
	margin-left: 5px; 
	margin-top: 5px;
	margin-bottom:5px;
}
#menu{
	height: 40px; 
	width: 40px; 
	margin-left: 3%; 
	margin-top: 60px;
	margin-bottom:5px;
}
#product{
	margin-left: 15px;
	height: 30px; 
	width: 150px; 
	margin-top: 40px;
}
.container-main{
	display:flex;
}
.dashboard{
	margin-top:80px;
}
.left{
	background-color:#90C8F2;
	width:20%;
	height: 650px;
}
.right{
	background-color:#EEF3F7;
	width:80%;
	height: 650px;
}
.inner-upper{
	display:flex;
	background-color:#DDE0E3;
}
.head-left{		
	width:150%;
	height: 100%;
}
.head-right{		
	margin-left: 150px;
	width:80%;
	display:flex;
}
.inner-lower{
	width:100%;
	height:80%;
}
#inner-heading, #home{
	margin-left: 15px;
}
#btn1,#btn2,#btn3{
	margin-top: 5px;
	background-color:#51595F;
	padding:8px;
	border:0;
	width: 130px;
	color:white;
	font-size:18px;	
	margin-left:15px;
	border-radius: 12px;
}
#img1{
	height: 70px; 
	width: 70px; 
	border-radius: 50%;
	margin-top:50px;
	margin-left:25%;
}
#img2,#img3,#img4{
	height: 70px; 
	width: 70px; 
	border-radius: 50%;
	margin-top:50px;
	margin-left:-15px;
}
.lists{
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	height: 30px; 
	margin-top:15px;
}
#type,#classification,#progress,#notice,#category,#status,#recall{
	margin-left: 20px;
	border: 2px solid blue;
	color:blue;
}
#clear{
	margin-left: 20px;
	color:blue;
	border:0;
	background-color:white;	
}
#sort{
	margin-left: 300px;
	color:blue;
	border:0;
}
.card{
	display:flex;	
}
.container1,.container2,.container3{
	border: 2px solid #67B8F5;
	height:420px;
	width:250px;
	margin-top:20px;
	margin-left:50px;
	text-align: center;
	border-radius: 12px;
	justify-content: space-evenly;
}
.card11{	
	height:40px;
	background-color:#DDE0E3;
}
.card12{	
	height:200px;
	text-align:left;
}
.card13{	
	height:60px;
	text-align:left;
	background-color:#DDE0E3;
}
.card14{
	height:85px;
	text-align:left;
}
#ack{
	border:0;
	margin-left:25px;
	background-color:green;
	border-radius: 12px;
}
#env,#ack,#urgent{
	margin-top:10px;
}
#urgent{
	border:0;
	background-color:red;
	border-radius: 12px;
}
#date,#test,#code,#recall{
	margin-top:5px;
}
p{
	margin-left:10px;
}
.notice{
	display:flex;
}
#progress1{
	height: 90px; 
	width: 90px; 
	margin-left:20px;
	border-radius: 15px;
}
#day{
	border:1px solid gray;
	margin-left:20px;
	height: 90px; 
	width: 90px; 
	border-radius: 15px;
}
.view-btn{
	background-color:#2B9CF5;
	padding:1px;
	width: 90%;
	color:white;
	font-size:24px;
	border-radius: 12px;
	margin-left:15px;
	border:0;
}