.container{
	display:flex;
}

#heading{
	margin-top:10px;
	text-align:center;
	color:#201730;
}
#fname-in,#lname-in,#email-in,#age-in{
	height:40px;
	width:85%;
	background-color:#D7D8D4;
	border-radius:12px;
	font-family:fontawesome;
	font-size:18px;	
	border:0;
}
#country,#state,#city{ 
	height:35px;
	width:30%;
	margin-left:10px;
	background-color:#D7D8D4;
	color:black;
	font-weight:bold;
	border-radius:12px;
	border:0;
}
#show{
	margin-top:35px;
	height:50px;
	width:43%;
	background-color:#D6F597;
	color:white;
	border-radius:12px;
	color:black;
	font-size:24px;
	font-weight:bold;
	border:0;
}