body{
	margin:0;
	padding:0;
}
#logo1{
	height: 50px; 
	width: 50px; 
	margin-left: 10px; 
	margin-top: 5px;
	margin-bottom:3px;
}
.head{
	justify-content:space-between;
	display: flex;
	background-color:#033B6B;
}
.head-right{
	margin-right:25px;
	margin-top:20px;
	display:flex;
}
.accounts,.clients,.documents,.reports,#accounting,#definition{
	margin-left: 15px; 
	height:35px;
	width:100px;
	background-color:transparent;
	color:white;
	font-weight:bold;
	border:0;
}
#add{
	margin-top:20px;	
	font-family:fontawesome;
	color:white;
}
#help,#drop-down{
	margin-top:20px;
	margin-left:15px;
	font-family:fontawesome;
	color:white;
}
#icon{
	margin-left:15px;
	margin-top:10px;
	border-radius:50%;
	height:40px;
	width:40px;
}
#newclnt{
	margin-left:15px;
}
#progress{
	width:100%;
}
.container{
	display:flex;
}
.left{
	border:2px solid black;
	height:100vh;
	width:30%;
}
.right{
	border:2px solid black;
	width:70%;
}
#style-radio{
	margin-left:15%;
	font-size:20px;
}
.inner-division{
	border:2px solid black;
	margin-left:50px;
	margin-right:50px;
}
#indivisual{
	margin-left:30px;
}
.heading{
	margin-top:20px;
	font-weight:bold;
}
span{
	color:red;
}
.client-info1,.client-info2,.client-info3,.client-info5{
	display:flex;
}
.client-info3{
	width:95%;
}
.business{
	margin-left:20px;
}
.name,.business{
	width:50%;
	border:2px solid black;
}
#name-in{
	height:30px;
	width:95%;
	background-color:#D7D8D4;
	border-radius:12px;
	font-family:fontawesome;
	font-size:18px;	
	border:0;
}
#business-in{
	height:30px;
	width:95%;
	background-color:#D7D8D4;
	border-radius:12px;
	font-family:fontawesome;
	font-size:18px;	
	border:0;
}
.client-id{
	border:2px solid black;
	width:31.5%;
}
.fein,.client-type{
	border:2px solid black;
	width:31.8%;
	margin-left:10px;
}
#client-id,#fein,#client-type{
	height:30px;
	width:95%;
	background-color:#D7D8D4;
	border-radius:12px;
	font-family:fontawesome;
	font-size:18px;	
	border:0;
}
.client-set-code{
	border:2px solid black;
	width:70%;
	height:60px;
}
#code{
	border-radius:6px;
	width:100%;
	height:35px;
}
.client-info3{
	background-color:#D7D8D4;
	padding:10px;
}
.manage-codes{
	border:2px solid black;
	margin-left:10px;
	width:20%;
}
#manage-codes{
	border-radius:12px;
	margin-top:16px;
	width:95%;
	background-color:white;
	font-size:18px;
	height:35px;
	font-weight:bold;
	font-family:fontawesome;
}
#attention,#street-addr1,#street-addr2{
	border:2px solid black;
	height:30px;
	width:96%;
	background-color:#D7D8D4;
	border-radius:12px;
	font-size:18px;
}
.time-zone{
	border:2px solid black;
	height:60px;
	width:97%;
}
#time-zone{
	border-radius:6px;
	width:100%;
	height:35px;
	background-color:#D7D8D4;
}